<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-border-input
    label="Hello"
    [required]="true"
    placeholder="Type something">
  </app-border-input>
  <app-date-picker
    label="Date"
    required="true">
  </app-date-picker>
  <app-file-picker
    label="Files"
    required="true"
    [(values)]="files">
  </app-file-picker>
  <app-image-picker
    label="Photo"
    required="true">
  </app-image-picker>
  <app-multiple-select
    label="Values"
    required="true"
    [(values)]="multiple"
    [config]="config"
    [options]="options">
  </app-multiple-select>
</ion-content>
